*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a img, img, input {
  border: none
}

a {
  text-decoration: none;
  color: inherit;
}
img {
	max-width: 100%;
}

ul, ol {
  list-style: none;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
  font: normal 16px/1.2 Roboto, Calibri;
  position: relative;
}

header, nav, main {
	width: 100%;
}

header {
	display: table;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}

nav ul {
	float: right;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	background-color: #098;
	padding: 15px 10px;
	height: 50px;
}

nav ul li {
	text-align: center;
	color: #FFF;
	font-size: 18px;
	padding: 5px 30px;
}

nav ul li[menu="welcome"] {
	flex: 1;
	text-align: left;
}

nav ul li a {
	cursor: pointer;
}

nav ul li img.logo {
	object-fit: contain;
	max-height: 100%;
	height: 40px;
	border-radius: 50%;
}

main {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

main section {
	width: 100vw;
}

main .welcome,
main .intro {
	height: 100vh;
}

main .welcome {
	position: relative;
}

main .welcome .banner {
	position: relative;
}

main .welcome .banner:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
}

main .welcome .banner img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

main .container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

main .container h1,
main .container h2,
main .container h3 {
	color: #098;
	text-align: center;
}

main .container h1 {
	font-size: 32px;
	margin: 35px 0 15px;
}

main .container h2 {
	font-size: 28px;
	margin: 0 0 20px;
}

main .container h3 {
	font-size: 26px;
}

main .intro .container p {
  text-align: justify;
}

main .intro .container p {
	font-size: 18px;
	margin: 35px 0 0px;
	color: #666;
}

main .intro {
	background-color: #f1f1f1;
	min-height: 100vh;
	display: table;
	padding: 0 0 40px;
}

main .follow-me {
  background-color: #098;
	padding: 30px 0;
}

main .follow-me h3 {
  color: #FFF;
}

main .follow-me p {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  color: #ddd;
}

main .news {
  padding: 25px 0 20px;
}

main .news form {
  display: flex;
  justify-content: space-around;
  margin: 25px auto 10px;
  flex-wrap: wrap;
  width: 80%;
}

main .news form input {
  width: 27%;
  padding: 11px 8px;
  font-size: 18px;
  border: 1px solid #999;
  border-radius: 4px;
  color: #333;
}

main .news form input[type="submit"] {
  width: 14%;
  background-color: #098;
  color: #FFF;
  cursor: pointer;
}

main .news h3 {
  margin: 10px 0
}

main .news p {
  text-align: center;
  margin: 15px 0 0;
}

main .news form .form-msg {
  text-align: center;
  margin: 5px 0 0;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}

main .news form .form-msg.error {
  color: #098;
}

main .news form .form-msg:first-of-type {
	margin-top: 20px;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}


@media screen and (max-width: 768px){
   main .news form input, main .news form input[type="submit"] {
    width: 70%;
    margin: 5px 0;
  }
}

@media screen and (max-width: 475px){
  header {
    position: fixed;
  }
  nav ul li {
    padding: 5px 10px;;
  }
  nav ul li a {
    font-size: 13px;
  }
  main .welcome {
    height: 100%;;
  }
  main .welcome .banner:after,
  main .welcome .banner img {
    height: 100%;
  }
  main .news form input, main .news form input[type="submit"] {
   width: 100%;
 }
}

@media screen and (max-width: 360px){
  nav ul li {
    padding: 5px 4px;;
  }
  nav ul li a {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px){

}
